.mikiko-bg-primary{
    background-color: blue;
}
img{
    max-width: 100%;
}
.page-section .page-section-heading {
    padding-top: 3rem;
}
@media (min-width: 576px)
.container {
    max-width: 1000px;
}
.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.black {
    color: blue);
}